.main {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f4f4f9, #f4f4f9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    max-width: 400px;
    text-align: center;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.login-header h2 {
    margin-bottom: 10px;
    color: #333;
}

.login-header p {
    margin-bottom: 30px;
    color: #666;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: smaller;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-group input {
    width: 100%;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.error-message {
    color: #ff3535;
    font-size: 0.875em;
    margin-top: 5px;
    display: none;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    margin-left: 5px;
    color: #555;
}

.forgot-password {
    color: #8b74a8;
    text-decoration: none;
    font-size: smaller;
}

.login-button {
    width: 100%;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: #8b74a8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #8b74a8;
}

.signup-link {
    margin-top: 20px;
    color: #555;
}

.signup-link a {
    color: #3734fa;
    text-decoration: none;
}